.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 8px;
  background: var(--background-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
}

.header {
  margin-bottom: 2rem;
  color: var(--accent-color);
}

.form {
  width: 100%;
  max-width: 320px;
}

.inputGroup {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text-color);
  text-align: left;
  margin-left: 0.5rem;
}

.input {
  width: 90%;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background: var(--input-background);
  color: var(--input-text-color);
}

.button {
  width: 50%;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 4px;
  background: var(--button-background);
  color: var(--button-text-color);
  cursor: pointer;
  transition: background-color 0.25s;
}

.button:hover {
  background: var(--button-hover-background);
}

/* Define CSS variables for light and dark themes */
:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --accent-color: #646cff;
  --border-color: #dddddd;
  --input-background: #ffffff;
  --input-text-color: #333333;
  --button-background: #646cff;
  --button-text-color: #ffffff;
  --button-hover-background: #535bf2;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
    --border-color: #444444;
    --input-background: #333333;
    --input-text-color: rgba(255, 255, 255, 0.87);
    --button-background: #1a1a1a;
    --button-hover-background: #333333;
  }
}
